#trashDiv {
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
  margin-left: auto;
  // position: fixed;
  // bottom: 0%;
  // right: 0.5%;
}

.trash {
  background: #51c404;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  margin: 2rem;
  box-shadow: 0 -.6rem 3rem .7rem black;

  position: relative;
  -webkit-border-bottom-right-radius: .3rem;
  -webkit-border-bottom-left-radius: .3rem;
  -moz-border-radius-bottomright: .3rem;
  -moz-border-radius-bottomleft: .3rem;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.trash:after {
  position: absolute;
  left: -6.15rem;
  right: 0;
  bottom: -3.125rem;
  width: 18.75rem;
}
.trash span {
  position: absolute;
  height: .8rem;
  background: #51c404;
  top: -1.15rem;
  left: -.6rem;
  right: -.6rem;

  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
}
.trash span:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: .4rem;
  background: #51c404;
  top: -.7rem;

  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
  left: 1.4rem;
}

.trash i {
  position: relative;
  width: .3rem;
  height: 1.7rem;
  background: #020202;
  display: block;
  margin: .7rem auto;
  border-radius: 5px;
}
.trash i:after {
  content: "";
  width: .3rem;
  height: 1.7rem;
  background: #020202;
  position: absolute;
  left: -1.1rem;
  border-radius: 5px;
}
.trash i:before {
  content: "";
  width: .3rem;
  height: 1.7rem;
  background: #000000;
  position: absolute;
  right: -1.1rem;
  border-radius: 5px;
}

.trash:hover span {
  transform: rotate(-45deg);
  transition: transform 250ms;
}
